*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    width: 100%;
}

/*================================
           Sign_up styles
==================================*/
.sign_up{
    background-image: url(../components/imges/sign_up_background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center; */
}

.contact-us-box2{
    position: absolute;
    width: 35%;
    height: 75vh;
    background-color: white;
    margin-top: 13vh;
    border-radius: 24px;
    margin-left: 33vw;
    text-align: center;
    align-items: center;
    align-content: center;
}

.sign_up_heading{
    font-weight: 700;
    font-size: 40px;
    position: relative;
    margin-top: 6.5vh;
}

.organiser-button .btn, .band-button .btn{
    background-color: rgba(56, 29, 219, 1);
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    line-height: 18px;
}

.organiser-button .btn{
    margin-top: 10vh;
}

.sign_up .or{
    color: rgba(0, 0, 0, 0.39);
    font-weight: 500;
    font-size: 25px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sign_up .last{
    color:rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

.sign_up .link a{
    color: rgba(56, 29, 219, 0.6);
    text-decoration: none !important; 
}